body{
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco;
  background-color: white;
  color: black;
  padding: 30px;
  margin: 50px;
  border: 5px;
  border-style: solid;
}
h1{
  text-align: center;
  text-decoration: underline;
  padding-top: 15px;
  padding-bottom: 35px;
}
a{
  color: #ffff4d;
}
p{
   color: #d6d6c2;
}
.zone{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#links{
  padding-left: 0;
}
