html{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
  background-color: white;
  color: black;
  padding: 30px;
  border-width: 75px;
  border-style: solid;
}
h1{
  text-align: left;
  text-decoration: underline;
  padding-top: 15px;
  padding-bottom: 35px;
  border-bottom: 5px solid gray;
}
#intro{
  text-align: center;
  color: 	#808000;
  padding-bottom: 35px;
}
.list{
  background-color: #E6E6FA;
}
a {
  color: #0000FF;
}
hr {
  border-top: 2px dashed black;
}
.images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#links{
  padding-left: 0;
}
#fox{
  color: #D2691E;
}
